nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 1rem 2rem;
    background-color: #333;
    color: #fff;
    gap: 2rem;
    box-sizing: border-box;
}

nav>div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

nav>div>a {
    color: #fff;
    text-decoration: none;
}

nav>div>a:hover {
    color: #afafaf;
}

select {
    border-radius: 4px;
    border: 1px solid #333;
}

.logo {
    width: 64px;
    height: 64px;
}

p.name {
    font-size: 1.5rem;
    font-weight: 500;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    gap: 2rem;
    box-sizing: border-box;
    height: 5vh;
}