.contactContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: #414141;
}

.contactMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.contactSubText {
    color: white;
    font-size: 1.2rem;
    padding: 4rem;
    box-sizing: border-box;
    text-align: center;
}

.contactSubText>a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

.contactSubText>a:hover {
    color: #afafaf;
}