main {
    color: black;
    background-color: whitesmoke;
    min-height: 85vh;
    max-height: auto;
}

.cartTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    background-color: rgb(201, 201, 201);
    box-sizing: border-box;
    padding: 3rem;
    height: auto;
}

.cartContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    background-color: whitesmoke;
    padding: 3rem;
    box-sizing: border-box;
}

.productsCart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 65%;
    height: auto;
    background-color: white;
    padding: 1rem;
    gap: 2rem;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.cartSummary {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 35%;
    height: auto;
    padding-left: 3rem;
    box-sizing: border-box;
    gap: 2rem;
}

.cartItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: auto;
    background-color: white;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.cartItemPhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: auto;
}

.cartItemInfo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}